html {
    width: 100%;
    height: 100%;
}

body {
    --bg-color: #f5f2d3;
    --text-color: #333333;
    --link-hover-color: #555555;
    background: #f5f2d3;
    font-family: 'Playfair Display', serif;
    margin: 0;

    color: #333333;
    font-size: 14pt;
    line-height: 24pt;
    text-align: justify;
}

body.sans-serif {
    font-family: 'Ubuntu', sans-serif;
}

body.dark {
    background: #081e2b;
    color: #d0cdc9;
}

body.dark a {
    color: #d0cdc9;
    border-bottom: 2px dashed #d0cdc9;
}

p {
    text-align: justify;
    padding: 0 0 5mm 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
    border-bottom: 2px dashed #333333;
}

pre {
    overflow: auto;
    padding: 0 0 5mm 0;
    margin: 0;
}

img {
    padding: 0 0 5mm 0;
}

.forward-from {
    font-style: italic;
    text-align: center;
}

.forward-source {
    font-weight: 700;
}